name: Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  job:
    name: Build slide deck
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: docker://marpteam/marp-cli:v4.2.3
        with:
          args: slides/index.md -o slides/index.html
        env:
          MARP_USER: root:root
